<!-- Credits: https://codepen.io/riogrande/pen/gbXxdx -->
<nav itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement' role='navigation'>
<ul>
    {% for item in site.data.nav.pages %}
      <li><a class="smooth-scroll-middle" href="{{ item.url }}" itemprop="url" alt="{{ item.title }}" title="{{ item.title }}"><span itemprop='name'>{{ item.title }}</span></a></li>
    {% endfor %}
</ul>
<div class="button-nav">
	<a class="btn-open" href="#"></a>
</div>
</nav>
<div class="overlay" id="navigation-overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li>
			<a href="/">HOME</a></li>
			<ul>
			    {% for item in site.data.nav.pages %}
			      <li><a class="smooth-scroll-middle" href="{{ item.url }}" itemprop="url" alt="{{ item.title }}" title="{{ item.title }}"><span itemprop='name'>{{ item.title }}</span></a></li>
			    {% endfor %}
			</ul>
		</ul>
	</div>
</div>
