---
layout: default
---

<section class="wrapper style1 content-align-left">
  <div class="inner">
    <header>
    <h2><b><a href="/team/">{{ page.name }}</a></b></h2>
    </header>
    <div class="index">
      <section>
        <header class="align-center">
          <img alt="{{page.name}}" src="{{ page.img | prepend: site.baseurl | prepend: site.url }}" class="img-team img-profile-page">
          <h4>
            <b>
              {{ page.name }}        
            </b>
            <br>
            {{ page.title }}           
          </h4>   
        </header>     
        <div class="content align-left">
          {{ page.biography }}
          <div class="index">
            <section>

              <div class="content">
                {% if page.email %}
                <h4>
                  <i class="fa fa-envelope"></i> 
                  <a href="mailto:{{page.email}}">{{page.email}}</a>
                </h4>
                {% endif %}         
                <ul class="icons">
                {% if page.email %}
                  
                {% endif %}            
                {% if page.website %}
                  <li><a href="{{ page.website }}" class="icon style2 fa fa-home" target="_blank"></a></li>
                {% endif %}
                </ul> 
              </div>
            </section>
          </div>

          {% assign articles_with_author =  site.categories.blog | where_exp:"article", "article.author contains page.name" %}
        </div>                    
      </section>
    </div>
</div>

  <div class="inner">
      <hr>
      <footer>
        <ul class="actions small">
          {% if page.previous %}
          <li><a href="{{ page.previous.url }}" class="button small">&larr; Previous Member</a></li>
          {% endif %}
          <li><a href="/team/" class="button special small">Team Members</a></li>
          {% if page.next %}
          <li> <a href="{{ page.next.url }}" class="button small">Next Member &rarr;</a></li>
          {% endif %}
        </ul>
      </footer>
  </div>
</section>